.callto-button {
				padding-left: 0;
				color: $primary;

				i.fa-chevron-right {

								background-color: $primary;
								color: $white;
								padding: .6rem;
								border-radius: 50%;
								margin-left: 1rem;

				}

}
.callto-button:hover {
				padding-left: 0;
				color: $secondary;

				i.fa-chevron-right {

								background-color: $secondary;
								color: $white;
								padding: .6rem;
								border-radius: 50%;
								margin-left: 1rem;

				}

}
.callto-button-light {
								padding-left: 0;
								color: $white;

								i.fa-chevron-right {

												background-color: $white;
												color: $primary;
												padding: .6rem;
												border-radius: 50%;
												margin-left: 1rem;

								}

				}

.callto-button-light:hover {
	color: $primary;

								i.fa-chevron-right {

												background-color: $primary;
												color: $white;
												padding: .6rem;
												border-radius: 50%;
												margin-left: 1rem;

								}

				}