body.case_studies-template-default {

background-color: #f0ede5;

.shrink {
				padding-top: 0;
				padding-bottom: 0;
				background-color: #f0ede5;
}

.cases { 

@include media-breakpoint-between(md, xl) {

.sidebar {
padding-top: 100px;
}

}

.cases-intro {

	padding-top: 200px;

}

.gradient-underlay-cases {
	position: absolute;
	top: 0;
	right: 0;
	width: 75%;
	height: 35%;
	background-color: #ece9de;
	opacity: .8;
	z-index: -1;

@include media-breakpoint-between(md, xl) {

height: 45%;

}

img {

position: absolute;
top: 16%;
right: 15%;

@include media-breakpoint-between(md, xl) {

top: 14%;
right: 21%;

}

}

}

.case-study-description {

.subheader {

font-size: 0.75rem;
letter-spacing: .5rem;
color: $primary;

}

.h3 {
	font-size:  2rem;
}

.case-description {

-webkit-box-shadow: -1px 7px 12px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 7px 12px -4px rgba(0,0,0,0.75);
box-shadow: -1px 7px 12px -4px rgba(0,0,0,0.75);
border-radius: 15px;

.case-study-left-col {


			.gradient-overlay {
        		position: absolute;
        		top: 0;
        		right: 0;
        		width: 100%;
        		height: 100%;
        		background: rgba(47, 47, 43, .3);
        		z-index: 1;
        		
        	}

img {

width: 100%;
border-top-left-radius: 15px;
border-top-right-radius: 15px;

@include media-breakpoint-between(md, xl) {

border-top-right-radius: 0 !important;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
min-height: 550px;
min-width: 550px;
width: 100%;
height: auto;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-position: bottom-right;

}

@include media-breakpoint-up(md) {

border-top-left-radius: 15px;
border-bottom-left-radius: 15px;

}


}

}

.case-study-right-col {

border-bottom-right-radius: 15px;
border-bottom-left-radius : 15px;

@include media-breakpoint-between(md, xl) {

border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 0 !important;

}

.h3 span {

	font-size: 20px;
	font-weight: 100;
	font-family: open-sans, sans-serif; 	
	letter-spacing: .55rem;

@include media-breakpoint-between(md, xl) {

	font-size: 24px;
	letter-spacing: .75rem;	

}

}

}

}

}



.solutions-section {

.h3 span {

	font-size: 20px;
	font-weight: 100;
	font-family: open-sans, sans-serif; 	
	letter-spacing: .55rem;

@include media-breakpoint-between(md, xl) {

font-size: 24px;
letter-spacing: .75rem;

}

}

.solutions-menu {

.solutions-box {

position: relative;

.circle-number {

position: absolute;
top: -12px;
left: 45%;
z-index: 1;

span  {

font-size: .6rem;
font-weight: 100;
color: $white;
background-color: $primary;
border: 10px solid $white;
border-radius: 100%;
width: 51px;
height: 52px;	
padding: 4px 8px;	
-webkit-box-shadow: -1px 3px 12px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 3px 12px -4px rgba(0,0,0,0.75);
box-shadow: -1px 3px 12px -4px rgba(0,0,0,0.75);

}

}

}

.solutions-box:hover {

background-color: #e2dccb;

}

}

}

.testimonials {
.gradient-underlay-testimonials {
        		position: absolute;
        		top: 0;
        		right: 0;
        		width: 75%;
        		height: 35%;
        		opacity: .8;
        		z-index: -1;
        		
        		        img {

							position: absolute;
							top: -60px;
							right: -180px;

        		}

 }

}

}

}