@include media-breakpoint-between(md, xl) {
.cases {
.sidebar {
padding-top: 100px;
}
.gradient-underlay-cases {
position: absolute;
top: 0;
right: 0;
width: 75%;
height: 45%;
background-color: #ece9de;
opacity: .8;
z-index: -1;
img {
position: absolute;
top: 14%;
right: 21%;
}
}
}
.case-study-description {
.h3 {
font-size:  3rem;
}
.case-description {
.case-study-left-col {

img {
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
border-top-right-radius: 0 !important;
min-height: 550px;
min-width: 550px;
  width: 100%;
  height: auto;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
background-position: bottom-right;

}
}
.case-study-right-col {
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 0 !important;
.h3 span {
font-size: 24px;
letter-spacing: .75rem;
}
}
}
}
.solutions-section {
.h3 span {
font-size: 24px;
letter-spacing: .75rem;
}
}
}