footer {
	padding: 0;
	border-top: 20px solid $beige;

	.footer-branding {
		border-right: 1px solid $beige;
	}

	.footer-address {
		text-align: center; 
		padding-top: 30px; 
		font-size: .85rem;

		@include media-breakpoint-up(md) {

			text-align: right;
			padding-right: 20px;
		}
	}

	.footer-contact {
		border-top: 1px solid $beige;
	}

	.footer-logo {
		img {
			display: block;
text-align: center;
margin: 0 auto;

		}
	}

	.footer-links {

		border-top: 1px solid $beige;
		padding-top: 1rem;
		margin-top: 2rem;
		text-align: center;

		.footer-menu {
			padding-left: 0;

			li {
				padding-bottom: 0.8rem;

				a {
					color: $white;
				}
			}
			@include media-breakpoint-up(md) {
				li {
					text-align: left;
				}
			}
		}

		.list-inline {
			li {
				display: block;

				a {
					padding: 0 auto;
				}

			}
			@include media-breakpoint-up(md) {
				.list-inline {

					li {

							text-align: left;

						a {
							padding: 0 auto;
						}
					}
				}
			}
		}

		.social-icons {
			ul {
				text-align: center;
				padding: 0 1.4rem;

				li {
					display: inline-block;
					text-align: center;

					a {
						color: $white;
						padding: 0 0.4rem;
					}
				}
			}
			@include media-breakpoint-up(md) {
				ul {
					text-align: left;
				}

				.social-icons {
					a {
						color: $white;
						padding: 0 auto;
					}
				}
			}
		}
	}
}
