
body {
	margin-top: 100px;
}

html {
  scroll-behavior: smooth;
}

.site-content {
p {
    line-height: 1.7rem;
}

}

.pd-tb-75//top and bottom padding for sections
{

		padding-top: 75px;
		padding-bottom:75px;

		@include media-breakpoint-up(lg) {


		}

}

.pd-t-75//top and bottom padding for sections
{

        padding-top: 75px;

        @include media-breakpoint-up(lg) {


        }

}

.m-b-75 {

    margin-bottom: 75px;

		@include media-breakpoint-up(lg) {


		}

}

.accent {

	background-color: #f0ede5;
}

.light-accent {

    background-color: #f5f3ed;
}

.page-wrapper {


position: relative;
margin-top: -150px;

.subheader {

    font-size: 1rem;
    letter-spacing: .5rem;
    color: $primary;

}
.breadcrumb {

  margin-top: 150px;
  background-color: transparent;
}


.gradient-underlay {
                position: absolute;
                top: 0;
                right: 0;
                width: 82%;
                height: 55%;
                background-color: #f5f5f5;
                opacity: .8;
                z-index: -1;

                img {

                            position: absolute;
                            top: 34%;
                            right: 0;


                }

            }

}
