  .page-wrapper-services {


position: relative;
margin-top: -150px;


    .subheader {

    font-size: 1.5rem;
    letter-spacing: .5rem;
    color: $primary;
  
}

.breadcrumb {

  margin-top: 120px;
  background-color: transparent;
}


.gradient-underlay {
                position: absolute;
                top: 0;
                right: 0;
                width: 75%;
                height: 35%;
                background-color: #f5f5f5;
                opacity: .8;
                z-index: -1;
                


                img {

                            position: absolute;
                            top: 28%;
                            right: 13%;


                }
                
            }

    
.video-container {

min-height: 500px;
border-radius: 15px;

}

.description-columns {
		 .subheader {
           font-size: .95rem;
            letter-spacing: .5rem;
      color: $primary;
    }

    .h4 {
 font-size: 1.938rem;

}

}

.services-included {

  position: relative;

		.subheader {
      color: $primary;
      font-size: .95rem;
            letter-spacing: .5rem;
		}


		.h4 {
 font-size: 1.938rem;

}


	ul {


			li {

								padding: 1rem 0 1rem 1rem;



	}

	li:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  opacity: .5;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
  font-style: italic;
  font-weight: 100;
  color: $primary;
}


	}

  .callto-button {
  position: absolute;
  bottom: 10%;
 left: 0;
}

}

}